@model SAT.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center mt-2">@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid" id="stuDetails">

        <div id="stuEditContent">
            <ul>
                <li class="form-group row">
                    @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control col-md-7" })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </li>
                <li class="form-group row">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </li>
                <li class="form-group row">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </li>

                <li class="form-group row">
                    @Html.LabelFor(model => model.InstructorName, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.EditorFor(model => model.InstructorName, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.InstructorName, "", new { @class = "text-danger" })
                </li>
                <li class="form-group row">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </li>
                <li class="form-group row">
                    @Html.LabelFor(model => model.SCSID, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    @Html.DropDownList("SCSID", null, htmlAttributes: new { @class = "form-control col-md-7" })
                    @Html.ValidationMessageFor(model => model.SCSID, "", new { @class = "text-danger" })
                </li>

            </ul>
            <div class="clearfix"></div>
            <div id="stuFooterRight">
                <input type="submit" value="Schedule Class" class="btn btn-success" />
            </div>
            <div id="stuFooterLeft">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
            </div>
            <div class="clearfix"></div>

        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
