@model SAT.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Details " + Model.Cours.CourseName;
}


<div class="container" id="stuDetails">
    <div id="stuHeader"><h2>@ViewBag.Title</h2></div>

   
    <div id="scContent">
        <ul id="detailsList">
            <li>
                @Html.DisplayNameFor(model => model.Cours.CourseName):  @Html.DisplayFor(model => model.Cours.CourseName)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.EndDate): @Html.DisplayFor(model => model.EndDate)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.InstructorName): @Html.DisplayFor(model => model.InstructorName)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName): @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div id="stuFooterLeft">
        @Html.ActionLink("Back to Scheduled Classes", "Index", null, new { @class = "btn btn-success" })

    </div>
    <div id="stuFooterRight">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId }, new { @class = "btn btn-danger" })
        }

    </div>
    <div class="clearfix"></div>

</div>
