<!DOCTYPE html>
<html lang="en">
<head>
    <title>Martial Arts School - S.A.T</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A S.A.T application for Martial Arts School" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Miss+Fajardose&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Content/fonts/fontawesome-free-5.11.2-web/css/all.css" />
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/css/CustomStyles.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Martial Arts School</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "Students")" class="nav-link">Students</a></li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "Courses")" class="nav-link">Courses</a></li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "ScheduledClasses")" class="nav-link">Scheduled</a></li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "StudentStatus")" class="nav-link">Student Statuses</a></li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="@Url.Action("Index", "Enrollments")" class="nav-link">Enrollments</a></li>

                    }
                    <li class="nav-item"><a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" title="Manage" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {

                                @:Hello, @User.Identity.GetUserName()!
                            }
                            else
                            {
                                @:Login
                            }



                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            @Html.Partial("_Loginpartial")
                        </div>

                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Functions</span>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users Admin</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a>
                            </div>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="container" id="main">
        @RenderBody()
    </div>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container-fluid px-md-5 px-3">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; @DateTime.Now.Year
                        All rights reserved | <a href="https://colorlib.com" target="_blank">Colorlib</a> | Converted by Jasmyne Boggs and Kendra Allen
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/js/jquery.stellar.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/aos.js"></script>
    <script src="~/Scripts/js/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Scripts/js/google-map.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>