@model SAT.DATA.EF.Enrollment

@{
    ViewBag.Title = "Enroll Student";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="container-fluid" id="stuDetails">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div id="stuEditContent">
            <ul>
                <li class="form-group row">
                    @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    @Html.DropDownList("StudentId", null, htmlAttributes: new { @class = "form-control col-md-7" })
                </li>

                <li class="form-group row">
                    @Html.LabelFor(model => model.ScheduledClassId, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    @Html.DropDownList("ScheduledClassId", null, htmlAttributes: new { @class = "form-control col-md-7" })
                </li>
                <li class="form-group row">
                    @Html.LabelFor(model => model.EnrollmentDate, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    @Html.EditorFor(model => model.EnrollmentDate, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.EnrollmentDate, "", new { @class = "text-danger" })
                </li>
            </ul>

        </div>

        <div class="clearfix"></div>


        <div id="stuFooterRight">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
        <div id="stuFooterLeft">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
        </div>
        <div class="clearfix"></div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
