@model SAT.DATA.EF.Enrollment

@{
    ViewBag.Title = "Delete";
}




<div class="container" id="stuDetails">
    <div id="stuHeader"><h2>@ViewBag.Title</h2></div>

    <div id="stuContentRight">
        <ul id="detailsList">
            <li>
                @Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.ScheduledClass.StartDate): @Html.DisplayFor(model => model.ScheduledClass.StartDate)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.CourseAndDate): @Html.DisplayFor(model => model.CourseAndDate)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Student.FullName): @Html.DisplayFor(model => model.Student.FullName)
            </li>

        </ul>
    </div>
    <div class="clearfix"></div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="stuFooterLeft">

            @Html.ActionLink("Back to Enrollments", "Index", null, new { @class="btn btn-primary"})



        </div>
        <div id="stuFooterRight">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
    <div class="clearfix"></div>
</div>
